################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hamoj/DesignTimeBuild/.dtbcache.v2
/.vs/Hamoj/FileContentIndex/9562bebb-b8fd-4073-a156-f967c192a016.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Hamojnew/v17/.wsuo
/.vs/Hamojnew/v17/DocumentLayout.json
/.vs/Hamoj/v17/.suo
/.vs/Hamoj/v17/DocumentLayout.json
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.DB/obj/Debug/net8.0/ref/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/refint/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.AssemblyInfo.cs
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.AssemblyInfoInputs.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.csproj.FileListAbsolute.txt
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.genruntimeconfig.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.sourcelink.json
/Hamoj.Service/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.Service/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.Service/bin/Debug/net8.0/Hamoj.Service.dll
/Hamoj.Service/bin/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.Service/obj/Debug/net8.0/ref/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/refint/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.AssemblyInfoInputs.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.AssemblyInfo.cs
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.CoreCompileInputs.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.AssemblyReference.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.FileListAbsolute.txt
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.sourcelink.json
/Hamoj.web/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.Service.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.exe
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.staticwebassets.runtime.json
/Hamoj.web/obj/Debug/net8.0/ref/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/refint/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.AssemblyInfo.cs
/Hamoj.web/obj/Debug/net8.0/apphost.exe
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.AssemblyInfoInputs.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.AssemblyReference.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.FileListAbsolute.txt
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.CoreCompileInputs.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.genruntimeconfig.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.pdb
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/staticwebassets.build.json
/Hamoj.web/obj/Debug/net8.0/staticwebassets.development.json
/Hamoj.web/obj/Debug/net8.0/staticwebassets.pack.json
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.sourcelink.json
