################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Hamoj/DesignTimeBuild/.dtbcache.v2
/.vs/Hamoj/FileContentIndex/9562bebb-b8fd-4073-a156-f967c192a016.vsidx
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Hamojnew/v17/.wsuo
/.vs/Hamojnew/v17/DocumentLayout.json
/.vs/Hamoj/v17/.suo
/.vs/Hamoj/v17/DocumentLayout.json
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.DB/obj/Debug/net8.0/ref/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/refint/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.dll
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.AssemblyInfo.cs
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.AssemblyInfoInputs.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.csproj.FileListAbsolute.txt
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.genruntimeconfig.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.sourcelink.json
/Hamoj.Service/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.Service/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.Service/bin/Debug/net8.0/Hamoj.Service.dll
/Hamoj.Service/bin/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.Service/obj/Debug/net8.0/ref/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/refint/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.AssemblyInfoInputs.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.AssemblyInfo.cs
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.CoreCompileInputs.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.AssemblyReference.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.dll
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.csproj.FileListAbsolute.txt
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.sourcelink.json
/Hamoj.web/bin/Debug/net8.0/Hamoj.DB.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.DB.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.Service.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.Service.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.exe
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.dll
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.pdb
/Hamoj.web/bin/Debug/net8.0/Hamoj.web.staticwebassets.runtime.json
/Hamoj.web/obj/Debug/net8.0/ref/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/refint/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.AssemblyInfo.cs
/Hamoj.web/obj/Debug/net8.0/apphost.exe
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.AssemblyInfoInputs.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.AssemblyReference.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.FileListAbsolute.txt
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.csproj.CoreCompileInputs.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.genruntimeconfig.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.pdb
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.dll
/Hamoj.web/obj/Debug/net8.0/staticwebassets.build.json
/Hamoj.web/obj/Debug/net8.0/staticwebassets.development.json
/Hamoj.web/obj/Debug/net8.0/staticwebassets.pack.json
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.sourcelink.json
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.deps.json
/Hamoj.DB/bin/Debug/net8.0/Hamoj.DB.runtimeconfig.json
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.assets.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.csproj.AssemblyReference.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.csproj.CoreCompileInputs.cache
/Hamoj.DB/obj/Debug/net8.0/Hamoj.DB.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.DB/obj/project.nuget.cache
/Hamoj.Service/bin/Debug/net8.0/Hamoj.Service.deps.json
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Se.F9B2FC68.Up2Date
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.assets.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.Service/obj/project.nuget.cache
/Hamoj.web/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/de/Microsoft.Data.SqlClient.resources.dll
/Hamoj.web/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/es/Microsoft.Data.SqlClient.resources.dll
/Hamoj.web/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/fr/Microsoft.Data.SqlClient.resources.dll
/Hamoj.web/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/it/Microsoft.Data.SqlClient.resources.dll
/Hamoj.web/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/ja/Microsoft.Data.SqlClient.resources.dll
/Hamoj.web/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/Hamoj.web/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/Hamoj.web/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/Hamoj.web/bin/Debug/net8.0/ko/Microsoft.Data.SqlClient.resources.dll
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Se.F9B2FC68.Up2Date
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.assets.cache
/Hamoj.Service/obj/Debug/net8.0/Hamoj.Service.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.web/obj/Release/net8.0/Hamoj.web.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.Service/obj/Release/net8.0/Hamoj.Service.AssemblyInfo.cs
/Hamoj.Service/obj/Release/net8.0/Hamoj.Service.AssemblyInfoInputs.cache
/Hamoj.Service/obj/Release/net8.0/Hamoj.Service.assets.cache
/Hamoj.Service/obj/Release/net8.0/Hamoj.Service.csproj.AssemblyReference.cache
/Hamoj.Service/obj/Release/net8.0/Hamoj.Service.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.DB/obj/Release/net8.0/Hamoj.DB.AssemblyInfo.cs
/Hamoj.DB/obj/Release/net8.0/Hamoj.DB.AssemblyInfoInputs.cache
/Hamoj.DB/obj/Release/net8.0/Hamoj.DB.assets.cache
/Hamoj.DB/obj/Release/net8.0/Hamoj.DB.csproj.AssemblyReference.cache
/Hamoj.DB/obj/Release/net8.0/Hamoj.DB.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.web/obj/Release/net8.0/Hamoj.web.AssemblyInfo.cs
/Hamoj.web/obj/Release/net8.0/Hamoj.web.AssemblyInfoInputs.cache
/Hamoj.web/obj/Release/net8.0/Hamoj.web.assets.cache
/Hamoj.web/obj/Release/net8.0/Hamoj.web.csproj.AssemblyReference.cache
/.vs/Hamoj/FileContentIndex/0d513431-f9ef-4623-ae5d-e9bde3031d80.vsidx
/.vs/Hamoj/FileContentIndex/5844eb2e-0901-49bc-b1f9-1fe347405e2a.vsidx
/.vs/Hamoj/FileContentIndex/6f3aad1b-22ac-4bb6-8111-4c55d1292916.vsidx
/.vs/Hamoj/FileContentIndex/b82550f5-8b3d-4eb1-8a44-e8a61a0a9fad.vsidx
/.vs/Hamoj/FileContentIndex/7241e5d5-18b9-4b3c-8fc7-1232e09cd5b1.vsidx
/.vs/Hamoj/FileContentIndex/4a87ca6a-e719-4c9f-9a53-5a2226990bdb.vsidx
/.vs/Hamoj/FileContentIndex/c739513b-7989-4e31-9dfc-3c1839ba4991.vsidx
/.vs/Hamoj/FileContentIndex/214f674a-6b58-4e9f-b7b7-93b5229e77a4.vsidx
/.vs/Hamoj/FileContentIndex/cd8e4729-4eda-4e0c-a0cd-e4b5a71e2910.vsidx
/.vs/Hamoj/FileContentIndex/d574c259-d8c2-45ba-99b1-dc71c1b2eeef.vsidx
/.vs/Hamoj/FileContentIndex/b7b98e13-997c-4f4b-a5d8-3cb95acabeb2.vsidx
/.vs/Hamoj/FileContentIndex/ac1e3218-fd3e-41e8-9e9e-20704c047590.vsidx
/.vs/Hamoj/FileContentIndex/5331c00d-7b9b-4178-b62d-82b700ccf24f.vsidx
/.vs/Hamoj/FileContentIndex/134b7af3-e0f6-449e-b718-b49442a98de8.vsidx
/.vs/Hamoj/FileContentIndex/a963fce9-ce8a-4898-8761-92365d20edaa.vsidx
*.vsidx
*.v2
/.vs/Hamoj/v17/.wsuo
*.bin
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.dgspec.json
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.g.props
/Hamoj.DB/obj/project.assets.json
/Hamoj.web/obj/project.nuget.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.assets.cache
/Hamoj.web/obj/Debug/net8.0/Hamoj.web.GeneratedMSBuildEditorConfig.editorconfig
/Hamoj.web/obj/Hamoj.web.csproj.nuget.dgspec.json
/Hamoj.web/obj/Hamoj.web.csproj.nuget.g.props
/Hamoj.web/obj/project.assets.json
/.vs/slnx.sqlite-journal
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.dgspec.json
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.g.props
/Hamoj.DB/obj/project.assets.json
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.dgspec.json
/Hamoj.DB/obj/Hamoj.DB.csproj.nuget.g.props
/Hamoj.Service/obj/Hamoj.Service.csproj.nuget.dgspec.json
/Hamoj.Service/obj/Hamoj.Service.csproj.nuget.g.props
/Hamoj.Service/obj/project.assets.json
/Hamoj.web/bin/Debug/net8.0/appsettings.json
/.vs/Hamoj/config/applicationhost.config
