@model Hamoj.Service.Dto.UserDto;

@{
    ViewData["Title"] = "User AddEdit";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Add User</h4>
        <a type="submit" class="btn btn-primary" asp-controller="User" asp-action="Index">Back</a>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form method="post" asp-action="AddEdit">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name" name="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" placeholder="Mobile Number" name="MobileNumber" asp-for="MobileNumber">
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="Email" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="Password" asp-for="Password" value="@Model.Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Confirm Password" asp-for="Confirm_Password" value="@Model.Confirm_Password">
                        <span asp-validation-for="Confirm_Password" class="text-danger"></span>

                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>  
    </div>
</div>