@model List<Hamoj.Service.Dto.ProductDto>;

@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewData["Title"] = "Order Add";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />
<form method="post">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card m-2">
                    <div class="card-header">
                        <p class="card-text">@product.Name (@product.Price /-)</p>
                    </div>
                    <div class="card-body">
                        <img src="~/ProductImage/@product.Image" class="card-img-top" style="width:150px; height:100px;">
                    </div>
                    <div class="col-auto mb-2">
                        <div class="input-group p-2">
                            <div class="input-group-text btn btn-primary btn-sm">Qty.</div>
                            <input type="text" class="form-control form-control-sm" placeholder="Qty" id="@product.Id">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <button type="button" class="btn btn-primary mt-2" id="btnOrder">Order Now</button>
</form>

@section Scripts {
    

    <script>
        $(document).ready(function () {
            $("#btnOrder").click(function () { 
                var products = [];
                $('.card').each(function () { 
                    var id = $(this).find('input[type="text"]').attr('id');
                    var Qtty = $(this).find('input[type="text"]').val();
                    if (Qtty) {
                        products.push({ id: id, Qtty: Qtty });
                    }
                });

                if (products.length > 0) {
                    $.ajax({
                        url: '/Order/CustomerProductOrder',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(products),
                        success: function (result) {
                            toastr.success('Order Added');
                            // Reload the entire page
                            window.location.reload();
                        },
                        error: function (xhr, status, error) {
                            toastr.error('Error adding order');
                            console.error('AJAX error:', error);
                        }
                    });
                } else {
                    toastr.error('Select at least one product');
                }
            });
        });
    </script>
}
