@model List<Hamoj.Service.Dto.ProductDto>

@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewData["Title"] = "Order Add";
}

<partial name="~/Views/Shared/_Customer.cshtml" />

<h1>Hello</h1>