@model List<Hamoj.Service.Dto.OrderDetailsDto>
@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        @foreach (var order in Model)
        {
            <div class="col-16 col-md-6 col-lg-4 mb-4 d-flex justify-content-center">
                <div class="card w-100">
                    <div class="card-header text-center">
                        <h5>Office No: @order.orderDto.customerDto.Office_No</h5>
                    </div>
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <img src="~/ProductImage/@order.productDto.Image" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
                        </h5>
                        <div>
                            <p class="card-text">Qty: @order.Qty</p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success btn-sm">Confirm</button>
                            <button type="button" class="btn btn-danger btn-sm">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
