@model List<Hamoj.Service.Dto.OrderDetailsDto>
@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
}

<div class="row">

    @foreach (var order in Model)
    {
        <div class="col-4">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="~/ProductImage/@order.productDto.Image" class="img-thumbnail" alt="@order.productDto.Name" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <b class="card-title">Office No: @order.orderDto.customerDto.Office_No</b>
                            <span class="card-text text-center">Qty: @order.Qty</span>
                            <div class="row-2 ">
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <button type="button" class="btn btn-rounded btn-success me-md-2">Confirm</button>
                                    <button type="button" class="btn btn-rounded btn-danger me-md-2 ">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


