@model List<Hamoj.Service.Dto.ProductDto>

@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
    ViewData["Title"] = "Order Add";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autocomplete Example</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<form method="post">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body p-0">
                <div class="card-header">
                    <input type="text" name="name" value="" class="form-control autocomplete-input" id="autocomplete"  placeholder="Search..." autocomplete="off">
                </div>

                <div>
                    <div class="table-responsive order-list">
                        <table class="table items-table">
                            <tbody>
                                <tr>
                                    <th class="my-0 text-black font-w500 fs-20">Items</th>
                                    <th class="my-0 text-black font-w500 fs-20">Price</th>
                                    <th class="text-black font-w500 fs-20">Qty.</th>
                                </tr>

                                @foreach (var product in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="media">
                                                <a href="ecom-product-detail.html">
                                                    <img class="me-3 img-fluid rounded product-image" src="~/ProductImage/@product.Image" alt="@product.Name">
                                                </a>
                                                <div class="media-body">
                                                    <h5 class="mt-0 mb-2 text-black mb-4">
                                                        <a class="text-black" href="ecom-product-detail.html">@product.Name</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="my-0 text-secondary font-w600">@product.Price</h4>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a class="btn btn-primary shadow btn-xs me-2" onclick="decrementQty(this)"><i>-</i></a>
                                                <input type="text" class="form-control quantity-input text-center mx-2" id="@product.Id" value="0" style="width: 50px;">
                                                <a class="btn btn-primary shadow btn-xs ms-2" onclick="incrementQty(this)"><i>+</i></a>
                                            </div>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary mt-2" id="btnOrder">Order Now</button>
</form>

@section Scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#autocomplete').autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Order/GetOfficeNumber',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            term: request.term
                        },
                        success: function (data) {
                            console.log("Data received: ", data); // Debug log
                            response(data);
                        },
                        error: function (xhr, status, error) {
                            console.error("Error fetching data: ", status, error); // Debug log
                            response([]);
                        }
                    });
                },
                minLength: 1
            });
        });


        function incrementQty(element) {
            var input = $(element).siblings('.quantity-input');
            var currentValue = parseInt(input.val()) || 0;
            input.val(currentValue + 1);
        }

        function decrementQty(element) {
            var input = $(element).siblings('.quantity-input');
            var currentValue = parseInt(input.val()) || 0;
            if (currentValue > 0) {
                input.val(currentValue - 1);
            }
        }

        $(document).ready(function () {
            $("#btnOrder").click(function () {
                var products = [];
                var office_no = $("#autocomplete").val().trim();

                if (office_no === "") {
                    toastr.error('Please select an office number');
                    return; 
                }

                $('.quantity-input').each(function () {
                    var productId = $(this).attr('id');
                    var quantity = parseInt($(this).val());

                    if (quantity > 0) {
                        products.push({ Id: productId, Qty: quantity, Office_no: office_no });
                    }
                });

                if (products.length > 0) {
                    $.ajax({
                        url: '/Order/VendorAddOrder',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(products),
                        success: function (result) {
                            toastr.success('Order Added');
                            window.location.reload();
                            console.log(result);
                        },
                        error: function (xhr, status, error) {
                            toastr.error('Error adding order');
                            // console.error('AJAX error:', error);
                        }
                    });
                } else {
                    toastr.error('Select at least one product');
                }
            });
        });


    </script>
}
