

 
<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
            <h4>Hi, welcome back!</h4>
            <span>Datatable</span>
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Table</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Datatable</a></li>
        </ol>
    </div>
</div>



<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Category</h4>
            <a type="submit" class="btn btn-primary" asp-controller="Category" asp-action="AddEdit">Add Category</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="dataGrid" class="display" style="min-width: 845px">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            columns = [
                { data: "id" },
                {
                    data: "image",
                    render: function (data, type, row) {
                        return `<img class="rounded-circle" width="35" src="${row.image}" alt=" "/>`;
                    }
                },
                { data: "name" },

                {
                    data: null,
                    render: function (data, type, row) {
                        return `<div class="d-flex">
                                            <a href="/Category/AddEdit/${row.id}" class="btn btn-primary shadow btn-xs sharp me-1"><i class="fas fa-pencil-alt"></i></a>
                                            <a href="#" class="btn btn-danger shadow btn-xs sharp"><i class="fas fa-trash"></i></a>
                                        </div>`;
                    }
                }
            ];

            BindGrid('/Category/BindData', columns);
        });

    </script>
}

