@model List<Hamoj.Service.Dto.OrderDto>

@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewData["Title"] = "View Report";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-3">
                    <label for="fromDate" class="form-label">From Date</label>
                    <input type="date" id="fromDate" class="form-control">
                </div>
                <div class="col-md-3">
                    <label for="toDate" class="form-label">To Date</label>
                    <input type="date" id="toDate" class="form-control">
                </div>
                <div class="col-md-3 align-self-end">
                    <button id="searchButton" class="btn btn-primary">Search</button>
                </div>
            </div>

            <table id="dataGrid" class="display" style="min-width: 845px">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Grand Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <table class="table" id="viewdetails">
                    <thead>
                        <tr>
                    <td>Product Name</td>
                    <td>Qty</td>
                    <td>Price</td>
                    <td>Total Amount</td>
                    </thead>
                </table>
                <tbody id="tbodydetails">
                </tbody>
            </div>
            
            <input type="hidden"  id="Id"/>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = date.getDate().toString().padStart(2, '0');
            var month = (date.getMonth() + 1).toString().padStart(2, '0');
            var year = date.getFullYear();
            return `${year}-${month}-${day}`;
        }

        $(document).ready(function () {
            var table = $('#dataGrid').DataTable({
                ajax: {
                    url: '/GetReport/GetReport',
                    type: 'POST',
                    data: function (d) {
                        d.fromDate = formatDate($('#fromDate').val());
                        d.toDate = formatDate($('#toDate').val());
                    }
                },
                columns: [
                    { data: 'id' },
                    {
                        data: 'create_Date',
                        render: function (data, type, row) {
                            var date = new Date(data);
                            var day = date.getDate().toString().padStart(2, '0');
                            var month = (date.getMonth() + 1).toString().padStart(2, '0');
                            var year = date.getFullYear();
                            return `${day}/${month}/${year}`;
                        }
                    },
                    { data: 'grandTotal' },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `<div class="d-flex">
                                    <a class="btn btn-primary shadow btn-xs sharp me-1" data-id="${row.id}"  onclick="getOrderDetails(${row.id})">
                                    <i class="fa-solid fa-eye"></i>
                             </a>
                             </div>`;
                        }
                    }
                ]
            });

            $('#searchButton').click(function () {
                table.ajax.reload();
            });
        });

        function getOrderDetails(orderId) {
            $('#exampleModalCenter').modal('show');
            var id = orderId;
            $.ajax({
                url: '/GetReport/GetOrderDetails',
                type: 'POST',
                data: { id: id },
                success: function (data) {
                    $('#tbodydetails').empty();
                    $(data).each(function (key, value) {
                        console.log(value);
                        var row = '<tr>';
                        row += '<td>' + value.data.productDto.name + '</td>';
                        row += '<td>' + value.data.qty + '</td>';
                        row += '<td>' + value.data.amount + '</td>';
                        row += '<td>' + value.data.totalAmounnt + '</td>';
                        row += '</tr>';

                        $('#tbodydetails').append(row);

                    });
                },
                error: function (xhr, status, error) {
                    console.error("AJAX request failed:", status, error);
                }
            });
        }




    </script>
}
