@{
    Layout = "~/Views/Shared/_Customer.cshtml";
    ViewData["Title"] = "View Payment";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<div class="card">
    <div class="card-header">
        <h3>Scan QR for Payment</h3>
    </div>
    <div class="card-body">
        <img src="~/images/QrCode.jpeg" height="400" width="300"/>
    </div>
</div>