@model Hamoj.Service.Dto.VendorUserDto

@{
    Layout = "~/Views/Shared/_Vendor.cshtml";
    ViewData["Title"] = "User AddEdit";
}

<partial name="~/Views/Shared/_Breadcrumb.cshtml" />

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Add User</h4>
        <a type="submit" class="btn btn-primary" asp-controller="VendorUser" asp-action="Index">Back</a>
    </div>
    <div class="card-body">
        <div class="basic-form">
            <form method="post" asp-action="AddEdit">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control restrict-input" placeholder="Mobile Number" id="mobileNumber" maxlength="10" asp-for="MobileNumber">
                        <span id="mobileNumberError" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" asp-for="Username">
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="Password" value="@Model.Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">is Active</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.getElementById('mobileNumber').addEventListener('input', function () {
            this.value = this.value.replace(/[^0-9]/g, ''); // Allow only digits
            if (this.value.length > 10) {
                this.value = this.value.slice(0, 10); // Limit to max 10 digits
            }
        });
    </script>
}